openapi: 3.1.0
info:
  title: Tgmeng News Skill APIs
  version: 1.3.0
  description: Search Tgmeng in-site news, hotspot data, and AI-generated Tgmeng Index lists by license, keyword array, mode, category filters, optional time window, optional user-approved result limit, and offset pagination.
servers:
  - url: https://trendapi.tgmeng.com
    description: Fixed production API server
paths:
  /api/skill/search:
    post:
      operationId: searchTgmengNews
      summary: Search Tgmeng news and hotspot data
      description: |
        Search current, today, or historical Tgmeng in-site news and hotspot records.
        REALTIME requires SEARCH permission. TODAY and HISTORY require SKILLHISTORY permission.
        TODAY and HISTORY require at least one non-blank keyword.
        Set limit to null by default. Do not set a concrete limit unless the user explicitly requested a count or confirmed a limit. Set offset to 0 by default; increase it only when continuing pagination.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillSearchRequest'
            examples:
              realtime:
                summary: Realtime search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                    - OpenAI
                  mode: REALTIME
                  rootCategories:
                    - AI
                  limit: null
                  offset: 0
              today:
                summary: Today search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - 机器人
                  mode: TODAY
                  rootCategories:
                    - 科技
                  startTime: '2026-05-05 00:00:00'
                  endTime: '2026-05-05 12:00:00'
                  limit: null
                  offset: 0
              historyWithUserApprovedLimit:
                summary: Historical search with user-approved limit
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - OpenAI
                  mode: HISTORY
                  rootCategories:
                    - AI
                  startTime: '2026-04-01'
                  endTime: '2026-04-30'
                  limit: 20
                  offset: 0
      responses:
        '200':
          description: Standard Tgmeng response envelope. Business errors may also return HTTP 200; inspect code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillSearchResponse'
  /api/skill/index:
    post:
      operationId: searchTgmengIndex
      summary: Search AI-generated Tgmeng Index lists
      description: |
        Search cached AI-generated Tgmeng Index lists. The endpoint returns indexed hotspot titles, categories, update time, and hotScore.
        Use this endpoint when the user clearly asks for 糖果指数, index lists, 热度指数, AI-generated ranking, or 综合热度.
        If the user request is ambiguous between raw hotspot search and Tgmeng Index search, ask the user which capability they want before calling an API.
        Set limit to null by default. Do not set a concrete limit unless the user explicitly requested a count or confirmed a limit. Set offset to 0 by default; increase it only when continuing pagination.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TgmengIndexRequest'
            examples:
              indexSearch:
                summary: Tgmeng Index search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                  categories:
                    - all
                    - technology
                    - ai
                  limit: null
                  offset: 0
              indexSearchWithUserApprovedLimit:
                summary: Tgmeng Index search with user-approved limit
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                  categories:
                    - ai
                  limit: 10
                  offset: 0
      responses:
        '200':
          description: Standard Tgmeng response envelope. Business errors may also return HTTP 200; inspect code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TgmengIndexResponse'
components:
  schemas:
    SkillSearchMode:
      type: string
      description: Search time scope. Values are case-sensitive and must be uppercase English enum names.
      enum:
        - REALTIME
        - TODAY
        - HISTORY
    SkillSearchRequest:
      type: object
      additionalProperties: true
      required:
        - license
        - keywords
        - mode
      properties:
        license:
          type: string
          minLength: 1
          description: Tgmeng universal license code (糖果梦通用密钥). If absent, obtain one at https://wechat.tgmeng.com. Must not be logged or exposed.
        keywords:
          type: array
          description: Keyword list. Array items use OR matching. Inside one item, +, ＋, &, ＆ mean required include; -, －, !, ！ mean exclude. Examples: 黄金+伊朗, 黄金-伊朗, 伊朗+导弹-足球. TODAY and HISTORY require at least one non-blank item.
          items:
            type: string
        mode:
          $ref: '#/components/schemas/SkillSearchMode'
        limit:
          type:
            - integer
            - 'null'
          minimum: 0
          description: Maximum number of returned items. null means no limit by default. Agents must not set this field to a concrete number unless the user explicitly requested a count or confirmed a limit.
        offset:
          type:
            - integer
            - 'null'
          minimum: 0
          default: 0
          description: Result offset. Default is 0. Use with a user-approved limit to fetch later results, for example limit 100 and offset 100 starts from the 101st matched item.
        startTime:
          type:
            - string
            - 'null'
          description: Optional inclusive time window start for TODAY and HISTORY. Ignored for REALTIME. Accepts yyyy-MM-dd HH:mm:ss or yyyy-MM-dd; date-only values are normalized to 00:00:00.
          examples:
            - '2026-05-05 00:00:00'
            - '2026-05-05'
        endTime:
          type:
            - string
            - 'null'
          description: Optional inclusive time window end for TODAY and HISTORY. Ignored for REALTIME. Accepts yyyy-MM-dd HH:mm:ss or yyyy-MM-dd; date-only values are normalized to 23:59:59.
          examples:
            - '2026-05-05 23:59:59'
            - '2026-05-05'
        rootCategories:
          oneOf:
            - type: array
              items:
                type: string
                enum:
                  - 新闻
                  - 羊毛
                  - 媒体
                  - 电视
                  - 生活
                  - 社区
                  - 财经
                  - 股讯
                  - 体育
                  - 科技
                  - 设计
                  - 影音
                  - 游戏
                  - 健康
                  - 教育
                  - 期货
                  - AI
                  - 副业
            - type: string
              enum:
                - 新闻
                - 羊毛
                - 媒体
                - 电视
                - 生活
                - 社区
                - 财经
                - 股讯
                - 体育
                - 科技
                - 设计
                - 影音
                - 游戏
                - 健康
                - 教育
                - 期货
                - AI
                - 副业
            - type: 'null'
          description: Optional exact-match root category filter. Empty or omitted means all root categories.
    TgmengIndexRequest:
      type: object
      additionalProperties: true
      required:
        - license
      properties:
        license:
          type: string
          minLength: 1
          description: Tgmeng universal license code (糖果梦通用密钥). Must not be logged or exposed.
        keywords:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
            - type: 'null'
          description: Optional keyword filter for hotspot titles. Empty or omitted means no title filtering. Array items use OR matching. Inside one item, +, ＋, &, ＆ mean required include; -, －, !, ！ mean exclude. Examples: 黄金+伊朗, 黄金-伊朗, 伊朗+导弹-足球.
        categories:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
            - type: 'null'
          description: Optional Tgmeng Index category filter. Empty or omitted means all Tgmeng Index categories. Supported canonical values include all, dubang, alltalk, technology, finance, entertainment, car, sports, game, livelihood, ai, sideline, education. Common Chinese aliases such as 综合, 毒榜, 争议榜, 科技, 财经, 娱乐, 汽车, 体育, 游戏, 民生, AI, 副业, 教育 are accepted. The API also accepts request field aliases category, type, platformCategory, and 分类.
        limit:
          type:
            - integer
            - 'null'
          minimum: 0
          description: Maximum number of returned items. null means no limit by default. Agents must not set this field to a concrete number unless the user explicitly requested a count or confirmed a limit.
        offset:
          type:
            - integer
            - 'null'
          minimum: 0
          default: 0
          description: Result offset. Default is 0. Use with a user-approved limit to fetch later results, for example limit 100 and offset 100 starts from the 101st matched item.
    SkillSearchResponse:
      type: object
      required:
        - code
        - message
        - data
      properties:
        code:
          type: integer
          description: Business status code. 200 means success.
        message:
          type: string
          description: Human-readable result or error message.
        data:
          oneOf:
            - $ref: '#/components/schemas/SkillSearchData'
            - type: 'null'
    SkillSearchData:
      type: object
      required:
        - query
        - summary
        - items
      properties:
        query:
          $ref: '#/components/schemas/SkillSearchQuery'
        summary:
          $ref: '#/components/schemas/SkillSearchSummary'
        items:
          type: array
          description: Items are ordered by update time from newest to oldest, not by hotspot popularity weight.
          items:
            $ref: '#/components/schemas/SkillSearchItem'
    SkillSearchQuery:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/SkillSearchMode'
        keywords:
          type: array
          items:
            type: string
        permission:
          type: string
          enum:
            - SEARCH
            - SKILLHISTORY
        limit:
          type:
            - integer
            - 'null'
        offset:
          type: integer
          description: Requested result offset.
        startTime:
          type:
            - string
            - 'null'
          description: Normalized time window start used by the query, or null.
        endTime:
          type:
            - string
            - 'null'
          description: Normalized time window end used by the query, or null.
        rootCategories:
          type:
            - array
            - 'null'
          items:
            type: string
          description: Root category filters used by the query, or null.
    SkillSearchSummary:
      type: object
      properties:
        total:
          type: integer
          description: Total matched items before pagination is applied.
        returned:
          type: integer
          description: Number of items returned after offset and limit are applied.
        limit:
          type:
            - integer
            - 'null'
          description: Requested limit. null or 0 means no limit.
        offset:
          type: integer
          description: Requested result offset.
        hasMore:
          type: boolean
          description: true when more matched items remain after this response.
        truncated:
          type: boolean
          description: Compatibility field with the same meaning as hasMore.
    SkillSearchItem:
      type: object
      additionalProperties: true
      properties:
        title:
          type:
            - string
            - 'null'
          description: Hotspot or news title.
        url:
          type:
            - string
            - 'null'
          description: Source URL when available.
        source:
          type:
            - string
            - 'null'
          description: Source platform name.
        category:
          type:
            - string
            - 'null'
          description: Platform category.
        rootCategory:
          type:
            - string
            - 'null'
          description: Root platform category.
        publishedAt:
          type:
            - string
            - 'null'
          description: Data update time in yyyy-MM-dd HH:mm:ss when available.
        rank:
          type:
            - integer
            - 'null'
          description: Source ranking order when available.
        simHash:
          type:
            - integer
            - 'null'
          format: int64
          description: Similarity hash used by historical data when available.
    TgmengIndexResponse:
      type: object
      required:
        - code
        - message
        - data
      properties:
        code:
          type: integer
          description: Business status code. 200 means success.
        message:
          type: string
          description: Human-readable result or error message.
        data:
          oneOf:
            - $ref: '#/components/schemas/TgmengIndexData'
            - type: 'null'
    TgmengIndexData:
      type: object
      required:
        - query
        - summary
        - items
      properties:
        query:
          $ref: '#/components/schemas/TgmengIndexQuery'
        summary:
          $ref: '#/components/schemas/SkillSearchSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TgmengIndexItem'
    TgmengIndexQuery:
      type: object
      properties:
        mode:
          type: string
          enum:
            - INDEX
        keywords:
          type: array
          items:
            type: string
        permission:
          type: string
          enum:
            - SEARCH
        limit:
          type:
            - integer
            - 'null'
        offset:
          type: integer
          description: Requested result offset.
        categories:
          type: array
          items:
            type: string
    TgmengIndexItem:
      type: object
      additionalProperties: true
      properties:
        title:
          type:
            - string
            - 'null'
          description: Hotspot title.
        source:
          type:
            - string
            - 'null'
          description: Usually 糖果指数.
        category:
          type:
            - string
            - 'null'
          description: Tgmeng Index category name.
        rootCategory:
          type:
            - string
            - 'null'
          description: Root category, usually 糖果梦.
        publishedAt:
          type:
            - string
            - 'null'
          description: Index list update time in yyyy-MM-dd HH:mm:ss when available.
        hotScore:
          type:
            - integer
            - 'null'
          description: Tgmeng Index heat value. Larger values mean higher heat.
