openapi: 3.1.0
info:
  title: Tgmeng News Skill APIs
  version: 1.5.0
  description: Tgmeng/糖果梦 Open Platform Skill APIs for realtime hotspot search, historical news retrieval, Tgmeng Index/糖果指数 lists, daily report/日报 queries, and TGMENG image bed/图床 upload with PicGo-compatible multipart upload.
servers:
  - url: https://trendapi.tgmeng.com
    description: Fixed production API server
paths:
  /api/skill/search:
    post:
      operationId: searchTgmengNews
      summary: Search Tgmeng news and hotspot data
      description: |
        Search current, today, or historical Tgmeng in-site news and hotspot records.
        REALTIME requires SEARCH permission. TODAY and HISTORY require SKILLHISTORY permission.
        TODAY and HISTORY require at least one non-blank keyword.
        Set limit to null by default. Do not set a concrete limit unless the user explicitly requested a count or confirmed a limit. Set offset to 0 by default; when continuing pagination, use nextOffset = data.summary.offset + data.summary.returned. Set distinct to false by default; use true only when the user asks to reduce duplicate titles or repeated reposts.
        Self-healing retries should fix only the invalid field: use POST, JSON content type, a JSON object body, integer non-negative limit/offset, boolean distinct, and string-array keywords for raw search.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillSearchRequest'
            examples:
              realtime:
                summary: Realtime search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                    - OpenAI
                  mode: REALTIME
                  rootCategories:
                    - AI
                  limit: null
                  offset: 0
                  distinct: false
              realtimeFullFeed:
                summary: Current full realtime feed without keyword filtering
                value:
                  license: USER_LICENSE_CODE
                  keywords: []
                  mode: REALTIME
                  rootCategories: []
                  limit: null
                  offset: 0
                  distinct: false
              today:
                summary: Today search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - 机器人
                  mode: TODAY
                  rootCategories:
                    - 科技
                  startTime: '2026-05-05 00:00:00'
                  endTime: '2026-05-05 12:00:00'
                  limit: null
                  offset: 0
                  distinct: false
              historyWithUserApprovedLimit:
                summary: Historical search with user-approved limit
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - OpenAI
                  mode: HISTORY
                  rootCategories:
                    - AI
                  startTime: '2026-04-01'
                  endTime: '2026-04-30'
                  limit: 20
                  offset: 0
                  distinct: true
      responses:
        '200':
          description: Standard Tgmeng response envelope. Business errors may also return HTTP 200; inspect code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillSearchResponse'
  /api/skill/index:
    post:
      operationId: searchTgmengIndex
      summary: Search AI-generated Tgmeng Index lists
      description: |
        Search cached AI-generated Tgmeng Index lists. The endpoint returns indexed hotspot titles, categories, update time, and hotScore.
        Use this endpoint when the user clearly asks for 糖果指数, index lists, 热度指数, AI-generated ranking, or 综合热度.
        If the user request is ambiguous between raw hotspot search, Tgmeng Index search, and Daily News query, ask the user which capability they want before calling an API.
        Set limit to null by default. Do not set a concrete limit unless the user explicitly requested a count or confirmed a limit. Set offset to 0 by default; when continuing pagination, use nextOffset = data.summary.offset + data.summary.returned. Set distinct to false by default; use true only when the user asks to reduce duplicate titles or repeated reposts.
        Self-healing retries should fix only the invalid field: use POST, JSON content type, a JSON object body, integer non-negative limit/offset, and boolean distinct.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TgmengIndexRequest'
            examples:
              indexSearch:
                summary: Tgmeng Index search with default limit null
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                  categories:
                    - all
                    - technology
                    - ai
                  limit: null
                  offset: 0
                  distinct: false
              indexSearchWithUserApprovedLimit:
                summary: Tgmeng Index search with user-approved limit
                value:
                  license: USER_LICENSE_CODE
                  keywords:
                    - AI
                  categories:
                    - ai
                  limit: 10
                  offset: 0
                  distinct: true
      responses:
        '200':
          description: Standard Tgmeng response envelope. Business errors may also return HTTP 200; inspect code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TgmengIndexResponse'
  /api/skill/dailyNews:
    post:
      operationId: queryDailyNews
      summary: Query generated Tgmeng daily news reports
      description: |
        Query already generated Tgmeng daily news reports by exact date, date range, and optional category.
        Use this endpoint when the user asks for 日报, 每日总结, category daily report, report Markdown, or a generated report for a specific date.
        The endpoint requires SEARCH permission. Set limit to null by default. Do not set a concrete limit unless the user explicitly requested a count or confirmed a limit. Set offset to 0 by default; when continuing pagination, use nextOffset = data.summary.offset + data.summary.returned.
        Set withContent to true when the user wants report body, Markdown, article content, export, download, or learning material. Set withContent to false only for report lists or metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyNewsRequest'
            examples:
              exactDateWithContent:
                summary: Exact-date daily report with Markdown content
                value:
                  license: USER_LICENSE_CODE
                  date: '2026-05-20'
                  category: technology
                  limit: null
                  offset: 0
                  withContent: true
              dateRangeMetadata:
                summary: Date-range daily report metadata list
                value:
                  license: USER_LICENSE_CODE
                  startDate: '2026-05-01'
                  endDate: '2026-05-20'
                  category: all
                  limit: null
                  offset: 0
                  withContent: false
      responses:
        '200':
          description: Standard Tgmeng response envelope. Business errors may also return HTTP 200; inspect code and message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyNewsResponse'
  /api/v1/upload:
    post:
      operationId: uploadImageFile
      summary: Upload images or files to the TGMENG image bed
      servers:
        - url: https://image.tgmeng.com
          description: Fixed production image upload API server
      description: |
        Upload one or more files to the TGMENG image bed. Use this endpoint for API uploads, PicGo, third-party image hosting clients, scripts, batch uploads, and hosted public image/file links.
        Requires a Tgmeng universal license with BASIC permission and a stable X-Machine-Id header. Uploaded files are owned by the validated license; users can manage only files uploaded under their own license.
        Send multipart/form-data. Preferred file field is file for single upload and repeated files[] for batch upload. Compatible field names include image, smfile, source, files, upload, and media.
        Existing /file/... public links remain externally accessible even if the license later expires; expiration blocks later upload/manage actions, not already published file delivery links.
      parameters:
        - name: X-License-Code
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Tgmeng universal license code. Preferred auth header. Do not log, expose, or place it in a URL.
        - name: X-Machine-Id
          in: header
          required: true
          schema:
            type: string
            minLength: 1
          description: Stable device id for TGMENG device binding. Reuse the same value for the same client/device; do not rotate per request.
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
          description: Compatibility auth header. Use Bearer USER_LICENSE_CODE when a client supports bearer auth but not X-License-Code.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageUploadRequest'
            encoding:
              file:
                contentType: application/octet-stream
              files[]:
                contentType: application/octet-stream
            examples:
              singleUpload:
                summary: Single image upload
                value:
                  file: image.png
                  serverCompress: 'false'
              batchUpload:
                summary: Batch image upload
                value:
                  files[]:
                    - a.png
                    - b.jpg
      responses:
        '200':
          description: Upload result. Inspect success, partial, message, url, data.urls, and files.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '400':
          description: Invalid multipart/form-data request or no file provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '401':
          description: Unauthorized. License or machine id validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '403':
          description: Source IP is blocked by protection rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '413':
          description: Uploaded file is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '500':
          description: Upload or storage failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
components:
  schemas:
    SkillSearchMode:
      type: string
      description: Search time scope. Values are case-sensitive and must be uppercase English enum names.
      enum:
        - REALTIME
        - TODAY
        - HISTORY
    SkillSearchRequest:
      type: object
      additionalProperties: true
      required:
        - license
        - keywords
        - mode
      properties:
        license:
          type: string
          minLength: 1
          description: Tgmeng universal license code (糖果梦通用密钥). If absent, obtain one at https://wechat.tgmeng.com. Must not be logged or exposed.
        keywords:
          type: array
          description: Keyword list. Array items use OR matching. Inside one item, +, ＋, &, ＆ mean required include; -, －, !, ！ mean exclude. For a current full realtime feed, send mode REALTIME with keywords as an empty array; do not send a blank string item and do not omit keywords. TODAY and HISTORY require at least one non-blank item.
          items:
            type: string
        mode:
          $ref: '#/components/schemas/SkillSearchMode'
        limit:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 2147483647
          description: Maximum number of returned items. null means no client-side count limit by default, but actual returned count may still be bounded by current cache size, license permissions, and server-side protection limits. Agents must not set this field to a concrete number unless the user explicitly requested a count or confirmed a limit.
        offset:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 2147483647
          default: 0
          description: Result offset. Default is 0. Use with a user-approved limit to fetch later pages. The next page offset is always current offset plus data.summary.returned; for example, after limit 100 and offset 0 returns 100 items, request offset 100 next.
        distinct:
          type:
            - boolean
            - 'null'
          default: false
          description: Whether to deduplicate by normalized title. Default is false. When true, deduplication runs after keyword/category/time filters and before pagination, keeps the first item in existing sort order, and does not use simHash.
        startTime:
          type:
            - string
            - 'null'
          description: Optional inclusive time window start for TODAY and HISTORY. Ignored for REALTIME. Accepts yyyy-MM-dd HH:mm:ss or yyyy-MM-dd; date-only values are normalized to 00:00:00.
          examples:
            - '2026-05-05 00:00:00'
            - '2026-05-05'
        endTime:
          type:
            - string
            - 'null'
          description: Optional inclusive time window end for TODAY and HISTORY. Ignored for REALTIME. Accepts yyyy-MM-dd HH:mm:ss or yyyy-MM-dd; date-only values are normalized to 23:59:59.
          examples:
            - '2026-05-05 23:59:59'
            - '2026-05-05'
        rootCategories:
          oneOf:
            - type: array
              items:
                type: string
                enum:
                  - 新闻
                  - 羊毛
                  - 媒体
                  - 电视
                  - 生活
                  - 社区
                  - 财经
                  - 股讯
                  - 体育
                  - 科技
                  - 设计
                  - 影音
                  - 游戏
                  - 健康
                  - 教育
                  - 期货
                  - AI
                  - 副业
            - type: string
              enum:
                - 新闻
                - 羊毛
                - 媒体
                - 电视
                - 生活
                - 社区
                - 财经
                - 股讯
                - 体育
                - 科技
                - 设计
                - 影音
                - 游戏
                - 健康
                - 教育
                - 期货
                - AI
                - 副业
            - type: 'null'
          description: Optional exact-match root category filter. Empty or omitted means all root categories. The enum is the currently documented set; the platform may add or adjust root categories, so prefer values observed in items[].rootCategory or listed by rootCategories unsupported errors.
    TgmengIndexRequest:
      type: object
      additionalProperties: true
      required:
        - license
      properties:
        license:
          type: string
          minLength: 1
          description: Tgmeng universal license code (糖果梦通用密钥). Must not be logged or exposed.
        keywords:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
            - type: 'null'
          description: |
            Optional keyword filter for hotspot titles. Empty or omitted means no title filtering.
            Array items use OR matching. Inside one item, +, ＋, &, ＆ mean required include; -, －, !, ！ mean exclude.
            Examples: 黄金+伊朗, 黄金-伊朗, 伊朗+导弹-足球.
        categories:
          oneOf:
            - type: array
              items:
                type: string
            - type: string
            - type: 'null'
          description: Optional Tgmeng Index category filter. Empty or omitted means all Tgmeng Index categories. Supported canonical values include all, dubang, alltalk, technology, finance, entertainment, car, sports, game, livelihood, ai, sideline, education. Common Chinese aliases such as 综合, 毒榜, 争议榜, 科技, 财经, 娱乐, 汽车, 体育, 游戏, 民生, AI, 副业, 教育 are accepted. The API also accepts request field aliases category, type, platformCategory, and 分类.
        limit:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 2147483647
          description: Maximum number of returned items. null means no limit by default. Agents must not set this field to a concrete number unless the user explicitly requested a count or confirmed a limit.
        offset:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 2147483647
          default: 0
          description: Result offset. Default is 0. Use with a user-approved limit to fetch later pages. The next page offset is always current offset plus data.summary.returned; for example, after limit 100 and offset 0 returns 100 items, request offset 100 next.
        distinct:
          type:
            - boolean
            - 'null'
          default: false
          description: Whether to deduplicate by normalized title. Default is false. When true, deduplication runs after keyword/category filters and before pagination, keeps the first item in existing sort order, and does not use simHash.
    SkillSearchResponse:
      type: object
      required:
        - code
        - message
        - data
      properties:
        code:
          type: integer
          description: Business status code. 200 means success.
        message:
          type: string
          description: Human-readable result or error message.
        data:
          oneOf:
            - $ref: '#/components/schemas/SkillSearchData'
            - type: 'null'
    SkillSearchData:
      type: object
      required:
        - query
        - summary
        - items
      properties:
        query:
          $ref: '#/components/schemas/SkillSearchQuery'
        summary:
          $ref: '#/components/schemas/SkillSearchSummary'
        items:
          type: array
          description: Items are ordered by update time from newest to oldest, not by hotspot popularity weight.
          items:
            $ref: '#/components/schemas/SkillSearchItem'
    SkillSearchQuery:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/SkillSearchMode'
        keywords:
          type: array
          items:
            type: string
        permission:
          type: string
          enum:
            - SEARCH
            - SKILLHISTORY
        limit:
          type:
            - integer
            - 'null'
        offset:
          type: integer
          description: Requested result offset.
        distinct:
          type: boolean
          description: Whether title deduplication was enabled.
        startTime:
          type:
            - string
            - 'null'
          description: Normalized time window start used by the query, or null.
        endTime:
          type:
            - string
            - 'null'
          description: Normalized time window end used by the query, or null.
        rootCategories:
          type:
            - array
            - 'null'
          items:
            type: string
          description: Root category filters used by the query, or null.
    SkillSearchSummary:
      type: object
      properties:
        total:
          type: integer
          description: Matched item count after optional title deduplication and before pagination.
        rawTotal:
          type: integer
          description: Matched item count before optional title deduplication.
        returned:
          type: integer
          description: Number of items returned after offset and limit are applied.
        limit:
          type:
            - integer
            - 'null'
          description: Requested limit. null or 0 means no limit.
        offset:
          type: integer
          description: Requested result offset.
        duplicatesRemoved:
          type: integer
          description: Number of items removed by title deduplication. Zero when distinct is false.
        hasMore:
          type: boolean
          description: true when more matched items remain after this response.
        truncated:
          type: boolean
          description: Compatibility field with the same meaning as hasMore.
    SkillSearchItem:
      type: object
      additionalProperties: true
      properties:
        title:
          type:
            - string
            - 'null'
          description: Hotspot or news title.
        url:
          type:
            - string
            - 'null'
          description: Source URL when available.
        source:
          type:
            - string
            - 'null'
          description: Source platform name.
        category:
          type:
            - string
            - 'null'
          description: Platform category.
        rootCategory:
          type:
            - string
            - 'null'
          description: Root platform category.
        publishedAt:
          type:
            - string
            - 'null'
          description: Data update time in yyyy-MM-dd HH:mm:ss when available.
        rank:
          type:
            - integer
            - 'null'
          description: Source ranking order when available.
        simHash:
          type:
            - integer
            - 'null'
          format: int64
          description: Similarity hash used by historical data when available.
    TgmengIndexResponse:
      type: object
      required:
        - code
        - message
        - data
      properties:
        code:
          type: integer
          description: Business status code. 200 means success.
        message:
          type: string
          description: Human-readable result or error message.
        data:
          oneOf:
            - $ref: '#/components/schemas/TgmengIndexData'
            - type: 'null'
    TgmengIndexData:
      type: object
      required:
        - query
        - summary
        - items
      properties:
        query:
          $ref: '#/components/schemas/TgmengIndexQuery'
        summary:
          $ref: '#/components/schemas/SkillSearchSummary'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TgmengIndexItem'
    TgmengIndexQuery:
      type: object
      properties:
        mode:
          type: string
          enum:
            - INDEX
        keywords:
          type: array
          items:
            type: string
        permission:
          type: string
          enum:
            - SEARCH
        limit:
          type:
            - integer
            - 'null'
        offset:
          type: integer
          description: Requested result offset.
        distinct:
          type: boolean
          description: Whether title deduplication was enabled.
        categories:
          type: array
          items:
            type: string
    TgmengIndexItem:
      type: object
      additionalProperties: true
      properties:
        title:
          type:
            - string
            - 'null'
          description: Hotspot title.
        source:
          type:
            - string
            - 'null'
          description: Usually 糖果指数.
        category:
          type:
            - string
            - 'null'
          description: Tgmeng Index category name.
        rootCategory:
          type:
            - string
            - 'null'
          description: Root category, usually 糖果梦.
        publishedAt:
          type:
            - string
            - 'null'
          description: Index list update time in yyyy-MM-dd HH:mm:ss when available.
        hotScore:
          type:
            - integer
            - 'null'
          description: Tgmeng Index heat value. Larger values mean higher heat.
    DailyNewsRequest:
      type: object
      additionalProperties: true
      required:
        - license
      properties:
        license:
          type: string
          minLength: 1
          description: Tgmeng universal license code (糖果梦通用密钥). Must not be logged or exposed.
        date:
          type:
            - string
            - 'null'
          format: date
          description: Exact report date in yyyy-MM-dd. When provided, it takes precedence over startDate and endDate.
        startDate:
          type:
            - string
            - 'null'
          format: date
          description: Inclusive report-date range start in yyyy-MM-dd. Used only when date is absent.
        endDate:
          type:
            - string
            - 'null'
          format: date
          description: Inclusive report-date range end in yyyy-MM-dd. Used only when date is absent.
        category:
          type:
            - string
            - 'null'
          description: Daily report category value. Empty or all means all categories. Known values include all, news, wool, media, tv, life, community, finance, stock, sports, technology, design, audiovideo, game, health, education, futures, ai, sideline.
        limit:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 50
          description: Maximum number of returned reports. null means no limit by default. Agents must not set this field to a concrete number unless the user explicitly requested a count or confirmed a limit.
        offset:
          type:
            - integer
            - 'null'
          minimum: 0
          maximum: 2147483647
          default: 0
          description: Result offset. Default is 0. Use with a user-approved limit to fetch later pages. The next page offset is always current offset plus data.summary.returned.
        withContent:
          type:
            - boolean
            - 'null'
          default: true
          description: Whether to include items[].contentMarkdown. Use true for report body, Markdown, article content, export, download, or learning material. Use false for report lists or metadata.
    DailyNewsResponse:
      type: object
      required:
        - code
        - message
        - data
      properties:
        code:
          type: integer
          description: Business status code. 200 means success.
        message:
          type: string
          description: Human-readable result or error message.
        data:
          oneOf:
            - $ref: '#/components/schemas/DailyNewsData'
            - type: 'null'
    DailyNewsData:
      type: object
      required:
        - query
        - summary
        - items
      properties:
        query:
          $ref: '#/components/schemas/DailyNewsQuery'
        summary:
          $ref: '#/components/schemas/DailyNewsSummary'
        items:
          type: array
          description: Reports are ordered by report date from newest to oldest, then by id from newest to oldest.
          items:
            $ref: '#/components/schemas/DailyNewsItem'
    DailyNewsQuery:
      type: object
      properties:
        mode:
          type: string
          enum:
            - DAILY_NEWS
        permission:
          type: string
          enum:
            - SEARCH
        category:
          type:
            - string
            - 'null'
        date:
          type:
            - string
            - 'null'
          format: date
        startDate:
          type:
            - string
            - 'null'
          format: date
        endDate:
          type:
            - string
            - 'null'
          format: date
        limit:
          type:
            - integer
            - 'null'
        offset:
          type: integer
          description: Requested result offset.
        withContent:
          type: boolean
          description: Whether Markdown content was requested.
    DailyNewsSummary:
      type: object
      properties:
        total:
          type: integer
          description: Matched report count before pagination.
        returned:
          type: integer
          description: Returned report count after offset and limit are applied.
        limit:
          type:
            - integer
            - 'null'
          description: Requested limit. null or 0 means no limit.
        offset:
          type: integer
          description: Requested result offset.
        hasMore:
          type: boolean
          description: true when more matched reports remain after this response.
        truncated:
          type: boolean
          description: Compatibility field with the same meaning as hasMore.
    DailyNewsItem:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
          format: int64
          description: Report id.
        title:
          type:
            - string
            - 'null'
          description: Daily report title.
        summary:
          type:
            - string
            - 'null'
          description: Daily report summary.
        category:
          type:
            - string
            - 'null'
          description: Daily report category value.
        categoryName:
          type:
            - string
            - 'null'
          description: Daily report category display name.
        reportDate:
          type:
            - string
            - 'null'
          format: date
          description: Report date in yyyy-MM-dd.
        coverImageUrl:
          type:
            - string
            - 'null'
          description: Cover image URL when available.
        tags:
          type: array
          items:
            type: string
          description: Report tags.
        aiPlatforms:
          type:
            - string
            - 'null'
          description: AI platform information used during report generation.
        aiModels:
          type:
            - string
            - 'null'
          description: AI model information used during report generation.
        aiFroms:
          type:
            - string
            - 'null'
          description: AI request source or provider information.
        requestTypes:
          type:
            - string
            - 'null'
          description: Request type information recorded during report generation.
        totalTokens:
          type:
            - integer
            - 'null'
          format: int64
          description: Total token usage recorded for report generation.
        hotCount:
          type:
            - integer
            - 'null'
          description: Number of hotspots included in report generation.
        inputCount:
          type:
            - integer
            - 'null'
          description: Number of input records used by the report-generation process.
        batchCount:
          type:
            - integer
            - 'null'
          description: Batch count used by the report-generation process.
        aiUsedTimeSeconds:
          type:
            - integer
            - 'null'
          format: int64
          description: AI processing time in seconds.
        durationMs:
          type:
            - integer
            - 'null'
          format: int64
          description: Total report-generation task duration in milliseconds.
        contentMarkdown:
          type:
            - string
            - 'null'
          description: Report body Markdown. Null when withContent is false.
    ImageUploadRequest:
      type: object
      additionalProperties: true
      description: Multipart upload body. Include at least one supported file field. Preferred fields are file for single upload and repeated files[] for batch upload.
      properties:
        file:
          type: string
          format: binary
          description: Preferred single-file upload field.
        'files[]':
          type: array
          description: Preferred repeated batch upload field.
          items:
            type: string
            format: binary
        image:
          type: string
          format: binary
          description: Compatible single-file alias.
        smfile:
          type: string
          format: binary
          description: Compatible PicGo/SM.MS-style single-file alias.
        source:
          type: string
          format: binary
          description: Compatible single-file alias.
        files:
          type: array
          description: Compatible batch alias.
          items:
            type: string
            format: binary
        upload:
          type: string
          format: binary
          description: Compatible single-file alias.
        media:
          type: string
          format: binary
          description: Compatible single-file alias.
        uploadFolder:
          type:
            - string
            - 'null'
          description: Optional target folder/path label. Aliases include folder, dir, directory, and path.
        folder:
          type:
            - string
            - 'null'
          description: Alias for uploadFolder.
        dir:
          type:
            - string
            - 'null'
          description: Alias for uploadFolder.
        directory:
          type:
            - string
            - 'null'
          description: Alias for uploadFolder.
        path:
          type:
            - string
            - 'null'
          description: Alias for uploadFolder.
        uploadNameType:
          type:
            - string
            - 'null'
          enum:
            - default
            - index
            - origin
            - short
            - null
          description: Optional naming strategy.
        serverCompress:
          type:
            - string
            - boolean
            - 'null'
          description: Boolean-compatible value. Use "false" to disable Telegram server compression.
        autoRetry:
          type:
            - string
            - boolean
            - 'null'
          description: Boolean-compatible value. Use "false" to disable automatic retry.
    ImageUploadResponse:
      type: object
      additionalProperties: true
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          description: Whether all uploaded files succeeded.
        partial:
          type:
            - boolean
            - 'null'
          description: true when some files succeeded and some failed.
        code:
          type:
            - string
            - 'null'
          description: Machine-readable status such as success, unauthorized, no_file, or upload_failed.
        message:
          type: string
          description: Human-readable result or error message.
        url:
          type:
            - string
            - 'null'
          format: uri
          description: First successful file URL, PicGo-compatible.
        data:
          oneOf:
            - $ref: '#/components/schemas/ImageUploadData'
            - type: 'null'
        files:
          type: array
          description: Per-file upload result list.
          items:
            $ref: '#/components/schemas/ImageUploadFileResult'
    ImageUploadData:
      type: object
      additionalProperties: true
      properties:
        url:
          type:
            - string
            - 'null'
          format: uri
          description: First successful file URL.
        urls:
          type: array
          description: All successful uploaded file URLs.
          items:
            type: string
            format: uri
        markdown:
          type:
            - string
            - 'null'
          description: Markdown for the first successful uploaded file.
        html:
          type:
            - string
            - 'null'
          description: HTML img tag for the first successful uploaded file.
    ImageUploadFileResult:
      type: object
      additionalProperties: true
      properties:
        success:
          type: boolean
          description: Whether this file uploaded successfully.
        name:
          type:
            - string
            - 'null'
          description: Original file name when available.
        size:
          type:
            - integer
            - 'null'
          format: int64
          description: File size in bytes.
        id:
          type:
            - string
            - 'null'
          description: Stored file id/path segment.
        url:
          type:
            - string
            - 'null'
          format: uri
          description: Public file URL when upload succeeds.
        markdown:
          type:
            - string
            - 'null'
          description: Markdown image link when upload succeeds.
        message:
          type:
            - string
            - 'null'
          description: Per-file error or status message.
